input/6 seconds video telegram.json
{
  "name": "6 seconds video telegram",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "start-command",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "create-command",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "new"
            }
          ]
        },
        "options": {}
      },
      "id": "eb48d5c5-3c1c-4868-86fb-2cdc3d5ee8b3",
      "name": "Switch Commands",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2544,
        212
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🎬 *Автоматический Создатель 6-секундных видео*\n\n*📝 Что я умею:*\n- Пишу текст по вашей идее\n- Генерирую картинки\n- Монтирую видео\n\n*🎯 Как работать:*\n1. Отправьте тему для видео или получите рандомную из базы\n2. Одобрите текст\n3. Одобрите картинку\n4. Получите готовое видео\n\nГотов к работе! 🚀",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Случайная тема (не активно)",
                    "additionalFields": {
                      "callback_data": "/random"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3cafa35f-6b75-4125-8fcd-3a476fd1d0f0",
      "name": "Send Start Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2256,
        64
      ],
      "webhookId": "11b1991c-288e-4443-bebd-192952e78f99",
      "credentials": {
        "telegramApi": {
          "id": "Sf0elRhvx5y3YtyR",
          "name": "Бот для Жени @videocrater256bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2248,
        584
      ],
      "id": "7f2effd5-6a21-44ab-8e6f-18492730cf89",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "o4lUnRBje7231oHG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2768,
        212
      ],
      "id": "5e34b5d5-36c0-445f-8755-bc7b99e69a71",
      "name": "Telegram Trigger",
      "webhookId": "ec3e1b46-a22c-459e-9126-0961472d28cb",
      "credentials": {
        "telegramApi": {
          "id": "Sf0elRhvx5y3YtyR",
          "name": "Бот для Жени @videocrater256bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Тема истории:\n{{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "=Ты — автор YouTube-канала с короткими захватывающими историями. Твоя задача — написать текст в стиле кликбейтных мини-историй для видео. \nТребования: \n1. Длина текста: 60-80 слов. (текст слитный, без абзацев) \n2. Структура: - Сразу укажи год и место (например: \"В 2023 году в городе...\"). - \nОпиши необычное событие, находку или рекорд, связанный с темой. - Добавь цифры, факты, неожиданные детали. - Заверши эмоциональной концовкой и \nнамеком на уникальность события. - В конце сделай лёгкий call-to-action: \"Подпишись!\". \n3. Стиль — энергичный, информативный, с элементами сенсации. \n4. Пиши так, чтобы зритель захотел дослушать до конца.\n5. Твой текст должен быть актуален для аудитории, которая будет смотреть на {{ $json.language }} языке.  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2320,
        360
      ],
      "id": "bc0a689e-868d-4556-b06e-8cbfd41075e8",
      "name": "Писатель"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1448,
        584
      ],
      "id": "66403bb7-e16f-49b8-a94a-f1a1974c78c9",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "o4lUnRBje7231oHG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## История:\n{{ $('Писатель').item.json.output }}",
        "options": {
          "systemMessage": "=Твоя роль:\nТы — эксперт по созданию промтов для нейросетей, генерирующих изображения. \n\nТвоя задача: \n1. Внимательно проанализируй историю, которую предоставит пользователь.\n2.Выдели ключевые визуальные элементы: главный объект, окружение, атмосферу и настроение.\n3. Сгенерируй на основе этого анализа один промт на английском языке, который описывает эту сцену.\n4. Стилизуй промт под эстетику 90-х годов.\n\nПравила: \n1. Безопасность для JSON: Твой финальный ответ должен быть одной сплошной текстовой строкой. Категорически запрещено использовать двойные кавычки (\"). \n2. Стиль 90-х: Обязательно передай атмосферу 90-х, используя такие описательные термины, как analog photography, film grain, muted color palette, 90s aesthetic, cinematic, shot on 35mm film.\n3. Никакого текста на картинке: Можешь добавлять в конец text-free, no words.\n4. Язык: Промт всегда должен быть на английском языке.\n5. Формат: Только промт, без лишних фраз, объяснений или приветствий."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1520,
        360
      ],
      "id": "e1a5252c-2857-429f-a478-d5c1726884f0",
      "name": "Промт-генератор"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "={{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "cebf2791-68b9-4bc5-a076-c872639da26a",
      "name": "Send Text",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1968,
        288
      ],
      "webhookId": "ba9f813b-2085-4c3a-98db-6eab76f69812",
      "credentials": {
        "telegramApi": {
          "id": "Sf0elRhvx5y3YtyR",
          "name": "Бот для Жени @videocrater256bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -720,
        288
      ],
      "id": "0f640814-6c14-4dab-9b80-baa7c7024f53",
      "name": "Send a photo message",
      "webhookId": "c67c1873-e513-46fc-9c4b-dfc713718269",
      "credentials": {
        "telegramApi": {
          "id": "Sf0elRhvx5y3YtyR",
          "name": "Бот для Жени @videocrater256bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        248,
        480
      ],
      "id": "80fe8091-ad1b-40a6-97bc-caf5949bf12c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "o4lUnRBje7231oHG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://external.api.recraft.ai/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\" : \"{{ $('Промт-генератор').item.json.output }}\",\n  \"negative_prompt\" : \"text, words, letters, inscriptions, signs, symbols, watermarks, characters, numbers\",\n  \"style\" : \"realistic_image\",\n  \"size\" : \"1024x1820\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        360
      ],
      "id": "6eb0b543-6ee9-42d9-98ba-6de5b1942a16",
      "name": "Генератор картинок",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vxBSNi1scWwZM8EV",
          "name": "Recraft Жени"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "*Подходит картинка для видео?*",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "71e59c78-8bc5-4cef-a2c4-f9c698914a20",
      "name": "Send Text1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -496,
        288
      ],
      "webhookId": "ba9f813b-2085-4c3a-98db-6eab76f69812",
      "credentials": {
        "telegramApi": {
          "id": "Sf0elRhvx5y3YtyR",
          "name": "Бот для Жени @videocrater256bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de97d184-22a6-4001-b5f1-dd86afa0be87",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1744,
        360
      ],
      "id": "e7b5d251-440a-4265-82e7-1076d0b7c3d6",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $json.data[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        288
      ],
      "id": "ac844f14-ddb4-4be1-a683-bd94229e1a93",
      "name": "Получение результата"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ae78a881-2cbf-40b6-912a-f2cb404b8c21",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        360
      ],
      "id": "e198c82c-ac8a-4c8b-8b80-e74ddd964670",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "*Выберите язык для видео*",
        "responseType": "freeText",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "275508d9-9b50-4993-b572-ba3947774672",
      "name": "Send Text2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        360
      ],
      "webhookId": "ba9f813b-2085-4c3a-98db-6eab76f69812",
      "credentials": {
        "telegramApi": {
          "id": "Sf0elRhvx5y3YtyR",
          "name": "Бот для Жени @videocrater256bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8862268e-40d6-42a2-8a6d-e5640980b225",
              "name": "text",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "ba52b533-7a01-4fe6-a910-6f23cc4af587",
              "name": "image",
              "value": "={{ $('Генератор картинок').item.json.data[0].url }}",
              "type": "string"
            },
            {
              "id": "961854d5-c216-4b51-bbd0-25655b31ff88",
              "name": "=telegram-id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        508
      ],
      "id": "1a2e94fe-bf27-4c68-a962-f5600ebabeb2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d33d7aeb-75f8-46a8-99b6-ae9f0a431f5f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17c132d0-6142-4a07-b132-f28027949bec",
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b6381708-9a0d-4b23-9efc-fdfaccb2cbac",
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1424,
        492
      ],
      "id": "992b33b8-1784-4baf-823f-339224e10b84",
      "name": "Switch"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.movie.message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1648,
        604
      ],
      "id": "b0a98ce3-1a14-4002-a72f-85669032e353",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "url": "=https://api.json2video.com/v2/movies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "project",
              "value": "={{ $('Submit a new job4').item.json.project }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        436
      ],
      "id": "e1da5e73-b396-4304-8a13-6a0bde016d7c",
      "name": "Check status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pz4ZGRV8udiHr7eB",
          "name": "Json2video"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        976,
        508
      ],
      "id": "19c0d0c5-aba7-446a-9f54-dd11d33fdee1",
      "name": "Wait for 15 seconds",
      "webhookId": "ccb77f90-0b47-42fe-96b4-22d35ba46b46"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.json2video.com/v2/movies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"template\": \"niyTqPlOWOG1FqBOCccc\",\n    \"variables\": {\n      \"text\": $json.text,\n      \"image\": $json.image\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        508
      ],
      "id": "fa897f90-d856-4427-ae8d-009b5a95caf8",
      "name": "Submit a new job4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pz4ZGRV8udiHr7eB",
          "name": "Json2video"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.movie.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        412
      ],
      "id": "4f838fc7-02bb-4bfe-8890-126c01df591f",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pz4ZGRV8udiHr7eB",
          "name": "Json2video"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Edit Fields').item.json['telegram-id'] }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "fad17d34-10e9-4af7-b565-185af6664132",
      "name": "Send Balance1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        412
      ],
      "webhookId": "ba9f813b-2085-4c3a-98db-6eab76f69812",
      "credentials": {
        "telegramApi": {
          "id": "Sf0elRhvx5y3YtyR",
          "name": "Бот для Жени @videocrater256bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Текст для перевода: \n{{ $('Писатель').item.json.output }}",
        "options": {
          "systemMessage": "=Ты — высокоточный и эффективный AI-переводчик. Твоя главная задача — переводить текст, сохраняя его смысл.\nПереведи предоставленный текст на {{ $json.language }} язык. \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        256
      ],
      "id": "bfd4760d-d9aa-47b1-9188-55f52141c90a",
      "name": "Переводчик"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        656
      ],
      "id": "b28bf32a-1e95-46db-9800-667a9bca259a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "=Ты — профессиональный CMM маркетолог. Напиши цепляющий заголовок до 40-50 символов для этого текста на {{ $json.language }}  языке.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2768,
        984
      ],
      "id": "d41f68ec-ac1e-48f1-b314-82d5b90172df",
      "name": "Переводчик1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2696,
        1208
      ],
      "id": "445f1d5e-d278-4fc8-8924-0988b72c5799",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "o4lUnRBje7231oHG",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "text": "W 2023 roku <span class=\"highlight\">w głębi podmoskiewskiego bagna</span> archeolodzy odkryli <span class=\"highlight\">unikatowy niemiecki motocykl</span> z czasów II wojny światowej! Pojazd przetrwał niemal w całości, mimo 80 lat pod wodą i błotem. Na ramie wciąż widoczne są numery i emblematy Wehrmachtu. Ten motocykl to prawdziwa <span class=\"highlight\">maszyna czasu</span>, otwierająca zapomniane karty historii. Chcesz poznać szczegóły – subskrybuj i nie przegap!",
          "image": "https://img.recraft.ai/6Yptq_XPEqYes0xMQyDrXO915apV08bRpJ2FV7vRUYQ/rs:fit:1024:1820:0/raw:1/plain/abs://external/images/a334dd49-087c-46fd-9920-7222d1bfdb70",
          "telegram-id": 5480099542
        }
      }
    ]
  },
  "connections": {
    "Switch Commands": {
      "main": [
        [
          {
            "node": "Send Start Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Писатель",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Писатель",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Писатель": {
      "main": [
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Промт-генератор",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Промт-генератор": {
      "main": [
        [
          {
            "node": "Генератор картинок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Send Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Переводчик",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Генератор картинок": {
      "main": [
        [
          {
            "node": "Получение результата",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Промт-генератор",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Писатель",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение результата": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send Text2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Генератор картинок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text2": {
      "main": [
        [
          {
            "node": "Переводчик",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Submit a new job4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for 15 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for 15 seconds": {
      "main": [
        [
          {
            "node": "Check status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit a new job4": {
      "main": [
        [
          {
            "node": "Wait for 15 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send Balance1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Переводчик": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Переводчик1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4e15e540-2f90-415e-907a-3f895104fcb7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13406947cefae7cf56d18dcd03d8103ca5c8c4a760df36f929c73a0b854bf8dc"
  },
  "id": "7WdinNue8eOExNpP",
  "tags": []
}